<form method="post" action="{{ path('job_delete', {'id': job.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');" class="ml-2 mt-2">
	<input type="hidden" name="_method" value="DELETE">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ job.id) }}">
	<button class="btn btn-danger">Delete</button>
</form>
