{{ form_start(form) }}
{{ form_widget(form) }}
<button class="btn btn-success m-2">{{ button_label|default('Save') }}</button>
<a class="btn btn-secondary ml-2" href="{{ path('job_index') }}">Back to list</a>
{{ form_end(form) }}
