<table class="table">
		<thead>
			<tr>
				<th>Title</th>
				<th>Company</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			{% for job in jobs %}
				<tr class="{{ job.draft ? 'table-warning' : (job.paid ? 'table-info') }}">
					<td>
						<a href="{{ path('job_detail', {'slug': job.slug}) }}">{{ job.title }}</a>
					</td>
					<td>
						<a href="{{ path('job_company', {'companySlug': job.companySlug}) }}">{{ job.company }}</a>
					</td>
					<td>
						{% if job.draft %}
							Draft{{ job.paid ? ' (Paid)' }}
						{% elseif job.start|date('Y-m-d') > 'today 00:00'|date('Y-m-d') %}
							Future{{ job.paid ? ' (Paid)' }}
						{% elseif job.end|date('Y-m-d') < 'today 00:00'|date('Y-m-d') %}
							Past{{ job.paid ? ' (Paid)' }}
						{% else %}
							Active{{ job.paid ? ' (Paid)' }}
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="11">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>