{% extends 'base.html.twig' %}

{% block title %}Job index
{% endblock %}

{% block body %}

	<h1 class="text-center m-4">{{ 'Draft Jobs' }}</h1>
	{{ include('job/_table.html.twig') }}

	<a class="btn btn-secondary" href="{{ path('job_index') }}">Back</a>


{% endblock %}
