{% extends 'base.html.twig' %}

{% block title %}Edit Job
{% endblock %}

{% block body %}
	<h1 class="text-center m-4">Edit Job</h1>

	{{ include('job/_form.html.twig', {'button_label': 'Update'}) }}

	{{ include('job/_delete_form.html.twig') }}
{% endblock %}
