{% extends 'base.html.twig' %}

{% block title %}Job index
{% endblock %}

{% block body %}
	{% if counts is defined and counts|length %}
		<h2 class="text-center m-4">Job Counts</h2>
		<table class="table">
			<thead>
				<tr>
					<th>What</th>
					<th>Amount</th>
				</tr>
			</thead>
			<tbody>
				{% for key, val in counts %}
					<tr>
						<td class="text-capitalize">{{ key }}</td>
						<td>{{ val }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<br><br><hr><br><br>
	{% endif %}

	<h1 class="text-center m-4">{{ company is defined and company ? company : 'Job index' }}</h1>
	{{ include('job/_table.html.twig') }}

	{% if company is defined and company %}
		<a class="btn btn-secondary ml-2" href="{{ path('job_index') }}">Back</a>
	{% else %}
		<a class="btn btn-primary ml-2" href="{{ path('job_new') }}">Create new</a>
		<a class="btn btn-primary ml-2" href="{{ path('job_draft') }}">Draft Jobs</a>
	{% endif %}

{% endblock %}
