{% extends 'base.html.twig' %}

{% block title %}Job
{% endblock %}

{% block body %}
	<h1 class="text-center m-4">Job Detail</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Title</th>
				<td>{{ job.title }}</td>
			</tr>
			<tr>
				<th>Slug</th>
				<td>{{ job.slug }}</td>
			</tr>
			<tr>
				<th>Company</th>
				<td>
					<a href="{{ path('job_company', {'companySlug': job.companySlug}) }}">{{ job.company }}</a>
				</td>
			</tr>
			<tr>
				<th>Draft</th>
				<td>{{ job.draft ? 'Yes' : 'No' }}</td>
			</tr>
			<tr>
				<th>Paid</th>
				<td>{{ job.paid ? 'Yes' : 'No' }}</td>
			</tr>
			<tr>
				<th>Start Date</th>
				<td>{{ job.start ? job.start|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>End Date</th>
				<td>{{ job.end ? job.end|date('Y-m-d') : '-' }}</td>
			</tr>
		</tbody>
	</table>

	<a class="btn btn-secondary ml-2" href="{{ path('job_index') }}">Back to list</a>

	<a class="btn btn-primary ml-2" href="{{ path('job_edit', {'id': job.id}) }}">Edit</a>

	{{ include('job/_delete_form.html.twig') }}
{% endblock %}
